![enter image description here](https://github.com/ArijitChakrabarti/web-scraping-Arijit/blob/main/web-scraping-620x350.jpg?raw=true)
# WEB SCRAPING

As the name suggests - Web Scraping is the process of collecting structured data present on the web in an automated fashion. I developed the code to use as part of my first EDA project - where the data present on the website, in this case www.countrycodes.org - was needed.  These few lines of code has helped me immensely wherever there is lots of online data structured in the form of a table.  As long as one can identify the start point of the table by inspecting the html code - the rest is as easy as apple pie.

In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
page = requests.get('https://countrycode.org/') #url of the html page to copy from
doc = lh.fromstring(page.content)  #store the data in a document file
tr_elements=doc.xpath('///tr')   #inspect from the html page from where the data starts add additional  - //

In [3]:
[len(T)for T in tr_elements[:12]]

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [4]:
tr_elements = doc.xpath('///tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"' %(i,name))
    col.append((name,[]))

1:"
                            COUNTRY
                        "
2:"
                            COUNTRY CODE
                        "
3:"
                            ISO CODES
                        "
4:"
                            POPULATION
                        "
5:"
                            AREA KM2
                        "
6:"
                            GDP $USD
                        "

In [5]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=6:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[240, 240, 240, 240, 240, 240]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head()

,\n COUNTRY\n,\n COUNTRY CODE\n,\n ISO CODES\n,\n POPULATION\n,\n AREA KM2\n,\n GDP $USD\n
0,Afghanistan,93,AF / AFG,"29,121,286","647,500",20.65 Billion
1,Albania,355,AL / ALB,"2,986,952","28,748",12.8 Billion
2,Algeria,213,DZ / DZA,"34,586,184","2,381,740",215.7 Billion
3,American Samoa,1-684,AS / ASM,"57,881",199,462.2 Million
4,Andorra,376,AD / AND,"84,000",468,4.8 Billion